# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
ntrENV/

# Environment variables
.env

# Database and temp files
user_notes.db
user_db_notes.zip
output.txt

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
